*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: hsl(205, 100%, 96%);
  --main-color: #283593;
  --secondary-color: #fdd8ed;
  --white: #fff;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #868e96;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
  --black: #000;
}

body {
  font-family: "noto sans", sans-serif;
  background-color: var(--background-color);
  color: var(--black);
  font-size: 16px;
}

.app {
  max-width: 1024px;
  margin: auto;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  color: #222;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}
.btn:hover {
  color: #fff;
  background: #222;
}
